*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background:url(../Group1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 20px;

}
header nav{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.logo_halo{
    width: 20%;

}

.container-items-header{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-left: 30px;
}

.title__halo_infinite{
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 7rem;
    font-weight: bold;
}
.container__halo_description{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    font-size: bold;
    line-height: 40px;
    color: white;
}

.container__platforms{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Manrope', sans-serif;
}

.platforms___title{
    text-transform:capitalize;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;

}


.items_platforms{
    display: flex;
    align-items: center;
    color: white;
    column-gap: 20px;
    padding-bottom: 0px;
    font-size: 1.6rem;
}

.battle__pass{
    width: 65%;
    text-align: center ;
    color: rgb(0, 69, 0);
    font-weight: bold;
    background-color: rgb(25, 249, 25);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
}
.battle__pass:hover{
    background-color: #fff;
    color: rgb(0, 69, 0);
    transition: .2s;
    cursor: pointer;
}

.container_video__realease{
    width: 100%;
    text-align: right;
    padding-right: 40px;

}

.container_video__realease iframe{

    width: 15%;
    -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
}
.container_video__realease h3{
    color: white;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}

/*GAME PASS SECTION */

.container__gamepass_join{
    background:url(../IMG/halo-gamepass.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 120px 60px;

}

.container__information_pass{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    background-color: rgba(42, 42, 42, 0.165);
    font-family: 'Manrope', sans-serif;
    border-radius: 20px;
    margin-right: 50px;
    padding: 10px;
}

.container__information_pass h1{
    font-size: 50px;
    color: white;
   
}
.container__information_pass p{
    font-weight: bold;
    font-size: 19px ;
    color: white;
}
.game__pass, .seriesxs{
    width: 30%;
}

.get__game{
    color: green;
    background-color: white;
    padding: 10px 70px;
    border-radius: 30px;
}

.get__game a{
    text-decoration: none;
    color: green;
    font-weight: bold;
   
}

.join{
    text-decoration: none;
    color: green;
    font-weight: bold;
   
}

.join:hover{
    color: white;
}


/* GAMES HALO SECTION */

.container__games_halo{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    color: white;
    background-color: black;
    padding-bottom: 30px;
}



.container__bgc_games h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
}

.container__bgc_games p{
    width: 100%;
    padding-bottom: 40px;
    font-size: 1.4rem;
    text-align: center;
}




.container__juegos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;
    padding: 10px;
    justify-content: center;
   

}


.item__juego{
    width: 40%;
    padding: 5px;
}

.item__juego img{
    width: 100%;
}

.item__juego p{

    padding-bottom: 0;
    text-align: left;
    
}

.item__juego  a{
    color: rgb(25, 249, 25);
    font-weight: bold;
    text-decoration: none;
    padding: none;
    font-size: 1.2rem;
}

.item__juego  a:hover{
    border-bottom: 1px solid white;
    transition: .5s;
}

/* 
CONTAINER CONTROL */

.control__container{
    background:url(../IMG/control.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 180px 60px;
    display: flex;
    justify-content: flex-end;
}


.information__container{
    width: 40%;
    color: white;
    font-family: 'Manrope', sans-serif;
}
.information__container h1{
    font-size: 2.8rem;
    padding-bottom: 40px;
}

.information__container p{
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.information__container a{
    color: rgb(25, 249, 25);
    font-weight: bold;
    text-decoration: none;
    
}
.information__container a:hover{
    border-bottom: 1px solid white;
    transition: .5s;
}



.container__final{
    background-color: black;
    position: relative;
    width: 100%;
}

.final__fant_art{
    width: 100%;
    z-index: -1;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.infor__final_contact{
    color: white;
    position: absolute;
    top: 300px;
    left: 100px;
}

.container__items_Contact{
    padding-top: 30px;
    list-style: none;
    display: flex;
    column-gap: 20px;
}


.container__items_Contact li a{
    padding: 20px;
    color: white;
}
.infor__final_contact h1{
    font-size: 6rem;
    font-family: 'Manrope', sans-serif;
}
.container__items_Contact li a:hover{
    background-color: #fff;
    border-radius:50px;
}

.container__items_Contact li:nth-of-type(1) a:hover{
    background-color: #1b2838 ;
}

.container__items_Contact li:nth-of-type(2) a:hover{
    background-color: #0c8b45 ;
}

.container__items_Contact li:nth-of-type(3) a:hover{
    background-color: #3c5a99 ;
}

.container__items_Contact li:nth-of-type(4) a:hover{
    background-color: #ff5700 ;
}


.container__items_Contact li:nth-of-type(5) a:hover{
    background-color: #55acee ;
}
